.bodyHead{
    display: flex;
}
.searchFly{
    width: 90%;
    display: flex;
    align-self: center;
    
}
.LocationInput{
    margin-left: 20%;
    margin-top:   5%;
}
.lugageSwitch{
    margin-left: 10%;
    margin-top:   9%;
    display: flex;
}
.lugageSwitch>p{
    margin-top:   4%;
}

.searchButton{
    margin-left: 10%;
    margin-top:   9%;
}
.dateSelector{
    width: 15%;
    margin-left: 5%;
    margin-top: 8%;
}
.bodyHead{
    margin:auto;
}
.flightsTable{
    margin:auto;
}
.flyRow:hover{
    cursor: pointer;
    background-color: rgb(220,220,220);
}